{% extends "form.html" %}

{% block title %}sign up{% endblock %}
{% block submit %}Sign up{% endblock %}

{% block fields %}
<label>
  Email
  <input type="email" name="email" value="{{ email | default('') }}" autofocus required />
</label>
<label>
  Password
  <input type="password" name="password" required />
</label>
<label>
  Invite code
  <input type="text" name="invite_code" value="{{ invite | default('') }}" required />
</label>
{% endblock %}

{% block footer %}
<p>Already have an account? <a href="/login">Log in</a></p>
{% endblock %}
